@model Blog.Models.Post

    <!DOCTYPE html>
    <html>

        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Novo Post</title>
        </head>

        <body>
            <div>

                <form action="/Post/Adiciona" method="post">

                    <label>
                        Título: <input type="text" value="@Model.Titulo" name="titulo" maxlength="50" required />
                    </label>
                    @Html.ValidationMessage("titulo")


                    <br />

                    <label>
                        Resumo: <input name="resumo" value="@Model.Resumo" required />
                    </label>
                    @Html.ValidationMessage("resumo")


                    <br />


                    <label>
                        Categoria:<input name="categoria" value="@Model.Categoria" />
                    </label>
                    @Html.ValidationMessage("categoria")

                    <br />

                    <button type="submit">Cadastrar</button>

                </form>
            </div>

            <script src="~/js/jquery.js"></script>
            <script src="~/js/jquery.validate.js"></script>

            <script>
                $("form").validate();
            </script>

        </body>

    </html>

